/node_modules
/public/hot
/public/storage
/public/js/app.js
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/storage/testing/database.sqlite
/output
/public/js/app.js