// Third-party

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min";
@import "node_modules/bootstrap-select/sass/bootstrap-select";
@import "node_modules/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min";
@import "node_modules/bootstrap-tagsinput/dist/bootstrap-tagsinput";
@import "node_modules/flag-icon-css/sass/flag-icon";

@import "_variables";

// Modules and Variables
@import "partials/base";

// Partials
@import "partials/general";
@import "partials/login";

@import "partials/buttons";
@import "partials/forms";
@import "partials/tabs";
@import "partials/tables";
@import "partials/lightbox";
@import "partials/filters";
@import "partials/dashboard";
@import "partials/popovers";
@import "partials/tooltips";
@import "partials/notification-bar";
@import "partials/modals";
@import "partials/sidebar";
@import "partials/content-panel";
@import "partials/sortables";
@import "partials/panels";

/**
 * Elements
 */
@import "elements/statuses";