/* Forms */
.form-group {
  .help-txt {
    display: block;
    font-size: 0.9em;
    color: lighten($grey, 15%);
  }
}

label {
  font-weight: normal;
}

.form-control {
  height: 40px;
  border-radius: 0;
  border-color: lighten($grey, 30%);

  &:disabled {
    cursor: text;
  }
}

.bootstrap-tagsinput {
  display: block;
  width: 100%;
  padding: 6px 6px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  @extend .form-control;

  input {
    border: 0;
    outline: none;
  }
}

/* Inline Form */

.form-inline {
  .form-group {
    margin-right: 10px;
  }
}

/* Bootstrap Select */

.bootstrap-select {
  button {
    .fa {
      width: 15px;
      margin-right: 10px;
      text-align: center;
    }
  }

  ul {
    li {
      .fa {
        width: 15px;
        margin-right: 10px;
        text-align: center;
        opacity: 0.5;
      }
    }
  }
}


/* Select All */

.bulk-options {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 3px 7px 7px;
  border: 1px solid lighten($grey, 30%);
  cursor: pointer;

  > label {
    position: relative;
    z-index: 3;
  }

  .fa {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    color: $blue;
  }

  .bulk-actions {
    display: none;
    position: absolute;
    z-index: 2;
    top: -1px;
    left: -1px;
    height: 32px;
    background: white;

    .border-inner {
      display: inline-block;
      height: 100%;
      padding-left: 30px;
      border: 1px solid lighten($grey, 30%);

      .btn {
        height: auto;
        margin-right: -4px;
        padding-top: 0;
        padding-bottom: 0;
        font-size: 0.9em;
        line-height: 32px;
        border: 0;
        border-left: 1px solid lighten($grey, 30%);

        &:first-of-type {
          margin-left: 30px;
          border-right: 0;
        }
      }
    }

    .all-selected {
      display: inline-block;
      height: 100%;
      margin-left: 15px;
      background: white;
    }
  }

  &.active {
    > .fa {
      color: white;
    }

    .bulk-actions {
      display: block;
    }
  }
}

/* Input Group */

.input-group-full {
  width: 100%;
}

.input-group {
  .bootstrap-select {
    &.input-group-btn {
      padding: 0;
      border: 0;
    }
  }
}

/* Input Group Addons */

.input-group-addon {
  width: 40px;
  color: lighten($grey, 45%);
  background-color: transparent;
  border-radius: 0;
  border: 1px solid lighten($grey, 30%);
}

/* Custom checkboxes */

.checkbox {
  input[type="checkbox"] {
    display: none;

    + label {
      padding-left: 0;

      span.check {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 15px;
        height: 15px;
        border: 1px solid lighten($grey, 30%);

        &:after {
          display: none;
          content: '\f00c';
          position: absolute;
          top: 0;
          left: 0;
          width: 14px;
          height: 14px;
          font-family: 'FontAwesome';
          font-size: 0.85em;
          text-align: center;
          line-height: 14px;
          color: $blue;
        }
      }

      span.faux-label {
        display: inline-block;
        vertical-align: middle;
      }

      span {
        &:nth-child(2) {
          margin-left: 10px;
        }
      }
    }

    &:checked {
      + label {
        span.check {
          border-color: $blue;

          &:after {
            display: block;
          }
        }
      }
    }
  }
}

/* Product Layout Select */

.radio-layout {
  position: relative;
  display: block;
  width: 600px;
  margin: 0 auto 30px;
  border: 1px solid #eee;

  input[type="radio"] {
    display: none;

    +label {
      opacity: 0.5;
      width: 100%;
      margin-bottom: 0;
      cursor: pointer;

      .title {
        position: relative;
        display: block;
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        font-size: 1.4em;
        border-bottom: 1px solid #eee;

          .btn {
            position: absolute;
            right: 0;
            top: 0;
            width: 47px;
            height: 100%;
            font-size: 0.8em;
            line-height: 34px;
            border-color: #eee;
            border-top: 0;
            border-right: 0;
            border-bottom: 0;
          }
      }

      .layout {
        float: left;
        width: 169px;
        height: 150px;
        padding-left: 10px;
        padding-bottom: 10px;

        img {
          width: 100%;
        }
      }

      .layout-content {
        float: right;
        width: calc(100% - 169px);
        padding-left: 15px;
        padding-bottom: 10px;
        padding-right: 10px;
      }

      .description {
        display: block;
      }
    }

    &:checked {
      + label {
        opacity: 1;
      }
    }
  }
}

/* Toggle */

.toggle {
  label {
    display: block;
  }

  .bootstrap-switch {
    .bootstrap-switch-primary {
      background-color: $purple;
    }
  }
}

/* Animation */
.translated-lang{
  opacity:0;
}

.translating {

  width: 100%;
  float: left;

  .original-lang{
    width: 50%;
    float: left;
    padding-right: 2px;
  }
  .translated-lang{
    width: 50%;
    float: left;
    padding-left: 2px;
    opacity: 1;
    -webkit-transition: opacity 2s; /* For Safari 3.1 to 6.0 */
    transition: opacity 2s;
  }
}

/* Tags */

.bootstrap-tagsinput {
  input {
    line-height: 28px;
  }

  .tag {
    font-size: 1em;
    font-weight: 400;
    line-height: 26px;

    [data-value] {
      font-weight: 300;
    }
  }
}