.pop-over {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 4;
  top: 65px;
  left: 15px;
  width: 600px;
  padding: 15px;
  background: white;
  border: 1px solid lighten($grey, 50%);
  border-bottom-width: 3px;

  &.publish-date {
    top: 45px;
    left: -75px;
    width: 500px;
  }

  &:after, &:before {
    position: absolute;
    content: '';
    top: -10px;
    width: 0;
    height: 0;
    border-style: solid;
  }

  &:after {
    left: 80px;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent white transparent;
  }

  &:before {
    top: -12px;
    left: 79px;
    border-width: 0 11px 12px 11px;
    border-color: transparent transparent lighten($grey, 50%) transparent;
  }

  label {
    display: block;
    margin-bottom: 15px;
  }

  .form-group, .form-link, button {
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .form-group {
    width: 35%;
    margin-bottom: 0;

    &:first-of-type {
      padding-left: 0;
    }
  }

  span {
    width: 5%;

    &.form-link {
      vertical-align: middle;
      text-align: center;
    }
  }

  button {
    width: 25%;
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }

  ul {
    &.menu {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: 0;
        padding: 0;

        a {
          display: block;
          padding: 7.5px 0;
        }
      }
    }    
  }
}