.table {
  thead {
    tr {
      th {
        font-weight: normal;
        color: lighten($grey, 20%);
      }
    }
  }

  tbody {
    tr {
      &.clickable {
        cursor: pointer;
        &:hover {
          td {
            background-color: lighten($blue, 60%);
          }
        }
      }

      &.selected {
        td {
          background-color: lighten($purple, 60%);
        }
      }

      td {
        position: relative;
        vertical-align: middle;

        &.product {
          color: $blue;
        }

        &.publish-date {
          em {
            margin-right: 15px;
          }
        }

        img {
          width: 60px;

          &.img-sm {
            width: 50px;
          }
        }

        .form-control, .btn {
          height: 40px;
        }

        .btn {
          font-size: 0.9em;

          &.btn-action {
            font-size: 1.1em;
          }
        }

        .checkbox {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }
  }

  &.association-table {
    thead, tbody {
      display: block;

      tr {
        display: table;
        width: 868px;
      }
    }

    tbody {
      @extend thead;
      overflow-y: auto;
      overflow-x: hidden;
      height: 300px;

      tr {
        display: table;
        width: 856px;
      }
    }
  }
}

.faux-table {
  &.row {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}